# data files
images_original/

GTZAN/*
!GTZAN/features_30_sec.csv
!GTZAN/features_3_sec.csv
!GTZAN/genres_original/
GTZAN/genres_original/*
!GTZAN/genres_original/blues/
!GTZAN/genres_original/classical/
!GTZAN/genres_original/country/
!GTZAN/genres_original/disco/
!GTZAN/genres_original/hiphop/
!GTZAN/genres_original/jazz/
!GTZAN/genres_original/metal/
!GTZAN/genres_original/pop/
!GTZAN/genres_original/reggae/
!GTZAN/genres_original/rock/
GTZAN/genres_original/**/*
!GTZAN/genres_original/blues/blues.00054.wav
!GTZAN/genres_original/blues/blues.00066.wav
!GTZAN/genres_original/blues/blues.00076.wav
!GTZAN/genres_original/classical/classical.00020.wav
!GTZAN/genres_original/classical/classical.00068.wav
!GTZAN/genres_original/classical/classical.00098.wav
!GTZAN/genres_original/country/country.00009.wav
!GTZAN/genres_original/country/country.00054.wav
!GTZAN/genres_original/country/country.00075.wav
!GTZAN/genres_original/disco/disco.00012.wav
!GTZAN/genres_original/disco/disco.00028.wav
!GTZAN/genres_original/disco/disco.00063.wav
!GTZAN/genres_original/hiphop/hiphop.00008.wav
!GTZAN/genres_original/hiphop/hiphop.00017.wav
!GTZAN/genres_original/hiphop/hiphop.00079.wav
!GTZAN/genres_original/jazz/jazz.00026.wav
!GTZAN/genres_original/jazz/jazz.00070.wav
!GTZAN/genres_original/metal/metal.00035.wav
!GTZAN/genres_original/metal/metal.00039.wav
!GTZAN/genres_original/metal/metal.00087.wav
!GTZAN/genres_original/pop/pop.00021.wav
!GTZAN/genres_original/pop/pop.00043.wav
!GTZAN/genres_original/pop/pop.00061.wav
!GTZAN/genres_original/reggae/reggae.00001.wav
!GTZAN/genres_original/reggae/reggae.00026.wav
!GTZAN/genres_original/reggae/reggae.00065.wav
!GTZAN/genres_original/rock/rock.00017.wav
!GTZAN/genres_original/rock/rock.00041.wav
!GTZAN/genres_original/rock/rock.00074.wav