.navbar {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid black;
  margin-bottom: 100px
}

.navpages a {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}
